boto3
botocore
# heaviside needs its official released version bumped to 2.1
#heaviside
blosc
# hvac 1.0 incompatible b/c they removed the auth_ec2 function
# Check https://hvac.readthedocs.io/en/v0.10.9/source/hvac_v1.html#hvac.v1.Client.auth_ec2
hvac>=0.11.2, <1.0.0
boss-ingest
pymysql
moto==1.3.16
pyOpenSSL==22.1.0